table.table.table-hover#adminTable
    thead.thead-light
        tr
            th(scope='col') #
            th(scope='col') Collection
    tbody
        -
            var iter = 1;
            var collections = [
                {name: "Users", url: 'users/',classes:''},
                // {name: "Messages", url: 'messages/',classes:'bg-warning'},
                {name: "Themes", url: 'themes/',classes:''},
                {name: "Tasks", url: 'tasks/',classes:''},
                {name: "Lessons", url: 'lessons/',classes:''},
                {name: "Statuses", url: 'statuses/',classes:''},
            ];
        each item in collections
            tr
                th(scope='row' class=item.classes)= iter
                td: a(href=baseAdminUrl+item.url) #{item.name}
            - iter++
