nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    div.container
        span.navbar-brand.navbar-brand.mb-0.mr-md-4.h1 Курси крою та шиття
        button.navbar-toggler(type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item(class={active: active_tab==="home"})
                    a.nav-link(href="/") Головна

                li.nav-item(class={active: active_tab==="contacts"})
                    a.nav-link(href="/contacts") Контакти

                // li.nav-item(class={active: active_tab==="about"})
                    a.nav-link(href="/about") Про

                //li.nav-item(class={active: active_tab === "student"})
                    a.nav-link(href="/student") Учень

                //li.nav-item(class={active: active_tab === "teacher"})
                    a.nav-link(href="/teacher") Викладач

                //li.nav-item(class={active: active_tab === "admin"})
                    a.nav-link(href="/adminka") Адмінка

                if user && user.role
                    if user.role==='admin'
                        li.nav-item(class={active: active_tab === "admin"})
                            a.nav-link(href="/adminka") Адмінка
                    if user.role==='student' || user.role==='admin'
                        li.nav-item(class={active: active_tab === "student"})
                            a.nav-link(href="/student") Учень
                    if user.role==='teacher' || user.role==='admin'
                        li.nav-item(class={active: active_tab === "teacher"})
                            a.nav-link(href="/teacher") Викладач

            div.my-2.my-lg-0.navbar-text
                if auth && user
                    span.h5.pt-1 Вітаємо,
                        a(href='/profile')  #{user.name}
                    if unreadedMessangesCoutn
                        span.text-warning You have #{unreadedMessangesCoutn.length} msgs
                    a(href='/auth/logout').btn.ml-3.btn-outline-primary Вийти
                else
                    a.btn.btn-outline-primary.mr-3(href='/auth/login') Увійти
                    a.btn.btn-success(href='/auth/signup') Реєстрація
