extends layout

block content
    //
        model - as table name
        data - list of models or single model
        action - [list, edit, create, view]
    -
        var baseAdminUrl = '/adminka/'

    .row
        .col
            .d-flex
                a.btn.btn-secondary.mr-2(href = baseAdminUrl) Admin panel
            hr.mb-3
            if model==='index_'
               include admin/collectionTable
            else if model && action && data
                // {action} are require for child templates
                case model
                    when 'user': include ./admin/user/index
                    when 'lesson': include ./admin/lesson/index
                    when 'message': include ./admin/message/index
                    when 'theme': include ./admin/theme/index
                    when 'task': include ./admin/task/index
                    when 'lesson': include ./admin/lesson/index
                    when 'status': include ./admin/status/index
            else
                h1.text-danger data are empty
        .col
            p <b>model</b> #{model}
            p <b>action</b> #{action}
            p <b>data</b>
            pre.card.border-dark= data


