extends layout

block content
  //h1= title
  if auth && lessons && themes
    div.d-flex.row.flex-md-wrap.card-deck
      each lesson in lessons
        - var theme = themes.find(theme=>theme._id.toString()===lesson.theme)
        .card.col-md-6.border-info
          .card-header= "Стан: " + lesson.status.statusName
          .card-body.text-info
            h5.card-title= theme.title
            p.card-text= theme.description
          .card-footer= 'Завдань: ' + theme.tasks.length



  else
    p some text
