extends layout

block content
  //h1= title
  if auth && lessons && themes
    div.d-flex.row.flex-md-wrap.card-deck
      each lesson in lessons
        - var theme = themes.find(theme=>theme._id.toString()===lesson.theme)
        .card.col-md-6.border-info
          .card-header= "Стан: " + lesson.status.statusName
          .card-body.text-info
            h5.card-title= theme.title
            p.card-text= theme.description
          .card-footer= 'Завдань: ' + theme.tasks.length



  else
    h1 Про
    p На наших курсах ви опануєте мистецтво шити як власний одяг
      | так і шити на замовлення.
    p Запрошуємо на наші курси
    p Для отримання адреси залишіть свої контакти для зв'язку
