-
    var errors = error;
    var {_id, theme:themeId, user:userId, status} = data;

div
    h1.d-inline.mr-4 Editing
form(method='post' action=currentUrl+'edit/' id='editForm')
    input#inputID(type='hidden' value=_id name='_id')
    .form-group.row
        label.col-sm-2.col-form-label(for='inputName') Theme
        .col-sm-10
            input#inputName.form-control(type='text' name='statusName' placeholder='name' value=statusName required)
    .form-group.row
        label.col-sm-2.col-form-label(for='inputTarget') User
        .col-sm-10
            input#inputTarget.form-control(type='text' name='target' placeholder='targets' value=target)
    hr.border-bottom.border-dark
    .form-group.row
        .col-sm-10
            button.btn.btn-success(type='submit') Save

