extends ../layout

block content
    h1 Про
    p На наших курсах ви опануєте мистецтво шити як власний одяг
    | так і шити на замовлення.
    p Запрошуємо на наші курси
    p Для отримання адреси залишіть свої контакти для зв'язку
