// data
    action

- var currentUrl = baseAdminUrl+'tasks/'
if action!=='list'
    a.btn.btn-primary.mr-2(href=currentUrl) All tasks

case action
    when 'list': include ./list
    when 'edit': include ./edit
    when 'create': include ./create
    when 'delete': include ./delete


